:root
{
    --height:250px;
}


ol.me,ul.me
{
    list-style-type: none;
}
li.me
{
    width: 150px;
    display: block;
    background-color: white;
    height: 100%;
    padding-right: 5px;
    margin-top:-1px;


}
li.me > *
{
    height: 25px;
}
/* li.me:hover,li.mee:hover
{
background-color:rgb(117, 117, 117);
} */
ul.me li.me
{
    display: none;
}
ol.me li.me
{
    float: left;
}
li.me:hover li.me
{
    display: block;
    margin-left:-40px;
    cursor: pointer;
}
#pierw
{
    margin-top: 4px;
}
li.mee
{
    width: 150px;
    display: block;
    background-color: rgb(221, 218, 218);
    height: 25px;
    padding-right: 5px;
    margin-top: -1px;

}
.mee
{
display: none;
}
 ul.me li.me:hover ul.mee
{
    display: block;
    float: right;
    margin-right: -160px;
}
#pierw2
{
    margin-top: 0px;
}


nav{
    width: 100%;
    background-color: rgb(236, 236, 236);
    height: 30px;
    position: fixed;
    top: 0%;
    display: flex;  
    justify-content: center;
    /* flex-direction: row; */
}
.dark
{
    width: 50px;
    height:100%;
    margin-top: -1px;
    background-color: darkgray;
    display: inline-block;
    border: 0px;
    font-size: 18px;
}
#koszyk
{
    font-size: 12px;
}
*
{
    margin:0px;
}

.jeden
{
    width: 100%;
    height: 3000px;
    background-color: rgb(243, 243, 243);
    display: grid;
    grid-template-columns: [first] 20% [line2] 20% [line3] 20% [line4] 20% [line5] 20%;
    grid-template-rows: [start] 75px [line1] var(--height) [line2] var(--height) [line3] var(--height) [line4] 75px [line5] var(--height);
    row-gap: 10px;
    

}
.dwa
{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;

}
.conte
{
    margin-top: 30px;
    width: 60%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    color: black;
}


.obraz1
{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: flex-end;

}
#img
{
    background-image: url("./brat_bial.png");
    background-size:cover;

}

#img1
{
    background-image: url("./brat_fiol.jpg");
    background-size:cover;    
}
#img2
{
    background-image: url("./brat_zol.jpg");
    background-size:cover;

}

#img3
{
    background-image: url("./brat_poma.jpg");
    background-size: cover;
}
#img4
{
    background-image: url("./brat_czer.jpg");
    background-size: cover;
}

.lewy
{
    grid-column: 2;
    justify-self: end;

}
.srod
{
    grid-column: 3;
    justify-self: center;

}
.prawy
{
    grid-column: 4;
    justify-self: start;

}
.xxx
{
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    display: none;
}
 .obraz1:hover > .xxx
{ 
    justify-content: center;
    align-items: center;
    color: black;
    display: flex;
}   


a
{
    text-decoration: none;
    color: black;
}
.xxx p
{
    display: inline-block;
}
.spa
{
    width: 100%;
    height: 25px;
    grid-column-start: 1;
    grid-column-end: 6;
    color: black;
    text-align: center;
}
.zamow
{
    border: 0;
    background-color: rgb(153, 255, 0);
    width: 100px;
    height: 25px;

}

@media (max-width:1350px)
{
    .obraz1
    {
        width: 200px;
        height: 200px;
    }
    :root
    {
        --height:200px;
    }
}

@media (max-width:1100px)
{
.obraz1
{
    width: 150px;
    height: 150px;
}
:root
{
    --height:150px;
}
}

@media (max-width:800px)
{
.obraz1
{
    width: 100px;
    height: 100px;
}
:root
{
    --height:100px;
}
}
@media (max-width:700px)
{
    li.me,li.mee
    {
        width: 120px;
    }
    li.me:hover li.mee
    {
        margin-left: -152px;
    }
}
@media (max-width:550px)
{
    .obraz1
    {
        width: 75px;
        height: 75px;
    }
    :root
    {
        --height:75px;
    }
    .jeden
    {
        grid-template-columns: [first] 5% [line2] 30% [line3] 30% [line4] 30% [line5] 5%;
    }
    li.me, li.mee
    {
        width: 75px;
        font-size: 10px;
    }
    li.me:hover li.mee
    {
        margin-left: -152px;
    }
    #pierw
    {
        margin-top: 5px;
    }
    .xxx
    {
        font-size: 10px;
    }
}
@media(max-width:350px)
{
    #pierw
    {
      margin-top: 5px;  
    }
    li.me,li.mee
    {
        width: 60px;
        font-size: 10px;
    }
    li.me:hover li.mee
    {
        margin-left: -155px;
    }
}


table,tr,td,th
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
#znaki
{
    display: block;
    float: right;
}
.znaki
{
    display: block;
    float: right;
    margin-left: -30px; 
}
.info
{
    padding-left: 15px;
}
.obrazy
{
    width: 250px;
    height: 250px;
}
.agwsegews
{
    background-color: rgb(54, 54, 54);
}